<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>
<form accept-charset="UTF-8" action="/" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
  Form contents
</form>



<!-- listen for the form submit then trigger the ajax to ombd
get json back
on client side take the json obj back and formatting it in handlebars
prvent default on the submit button
 -->
